body {
    font-family: 'Poppins', sans-serif;
    margin-top: 4vw;
    width: 90%;
    margin-left: 4vw;
    margin-right: 5vw;
}

/* -------------------------------
CSS Styles for the Header Section 
-----------------------------------*/

.top-container {
    background-color: black;
    border-radius: 2.6vw;
    margin: auto;
    padding-top: 2vw;
    padding-bottom: 4vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-text {
    padding-left: 5vw;

}

.header-text h1 {
    font-size: 3vw;
    font-weight: 700;
    color: white;
}

.header-text p {
    font-size: 1vw;
    font-weight: 700;
    color: white;
    padding-bottom: 2vw;
}

.header-text a {
    text-decoration: none;
    background-color: red;
    padding: 0.87vw .8vw;
    color: white;
    font-weight: 700;
    font-size: .8vw;
    border-radius: 0.86vw;
}

.header-img {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    height: 100%;
    width: auto;
}

/* -------------------------------------
    CSS Styles for the Second Section 
   ------------------------------------*/

.second-section {
    display: grid;
    grid-template-columns: 46.875vw auto;
    width: 90%;
    margin-top: 5vw;
    margin-left: 4vw;
    margin-bottom: 5vw;
    margin-right: 4vw;
}


.aside {
    width: 43.40vw;
    height: 26.041vw;
    background-color: black;
    border-radius: 0.87vw;
    padding-top: 6.94vw;
}

.upcoming-matches,
.el-classico {
    text-align: center;
    background-color: white;
    color: black;
    width: 31.25vw;
    border-radius: 0.87vw;
    margin-bottom: 3.47vw;
    margin-left: 5.56vw;
}

.ucl-button {
    text-decoration: none;
    color: black;
}

.ucl {
    text-align: center;
    background-color: rgb(213, 49, 49);
    color: black;
    width: 31.25vw;
    border-radius: 0.87vw;
    margin-bottom: 3.47vw;
    margin-left: 5.56vw;
}

/* --------------------
    Marca-News Styles 
-----------------------*/



.news .carvahal img {
    width: 43.40vw;
    height: 30.38vw;
}

.news {
    box-shadow: 0.694vw 0.694vw 0.694vw rgb(131, 125, 125);
    border: 0.347vw solid black;
    border-radius: 0.87vw;
}

.news-text {
    padding-bottom: 1.74vw;
    padding-left: 1.74vw;
}

.news-type {
    border: 1px solid grey;
    font-size: small;
    width: 20.83vw;
    padding-left: 1.736vw;
    border-radius: 0.86vw;
}

.news-info {
    display: grid;
    grid-template-columns: repeat(2, 15.625vw);
}

.fa-clock.clock {
    width: 20px;
    height: 20px;
    opacity: 0.25;
}

.fa-comment-dots {
    width: 3.47vw;
    height: 3.47vw;
    opacity: 0.25;
}

.marca-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.73vw;
    grid-row-gap: 1.73vw;
}

/* ------------------
    Footer Styles 
    -----------------*/
footer {
    background-color: black;
    color: white;
    height: 43.40vw;
}

footer h1 {
    text-align: center;
    font-size: 6.94vw;
    padding-top: 8.68vw;
}

footer hr {
    width: 80%;
}

.footer-contents {
    font-size: small;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    grid-column-gap: 5.208vw;
}


/* -----------------------------------
    Media Query for mobile devices 
    --------------------------------*/
@media only screen and (max-width: 576px) {

    .top-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .header-text h1 {
        font-size: 8vw;
        font-weight: 700;
        color: white;
    }

    .header-text p {
        font-size: 5vw;
        font-weight: 700;
        color: white;
        padding-bottom: 2vw;
    }

    .header-text a {
        text-decoration: none;
        background-color: red;
        padding: 2vw 2vw;
        color: white;
        font-weight: 700;
        font-size: 2vw;
        border-radius: 2vw;
    }

}