body {
    font-family: 'Poppins', sans-serif;
    margin-top: 4vw;
    width: 90%;
    margin-left: 4vw;
    margin-right: 5vw;
}

/* -------------------------------
CSS Styles for the Header Section 
-----------------------------------*/

.top-container {
    background-color: black;
    border-radius: 2.6vw;
    margin: auto;
    padding-top: 2vw;
    padding-bottom: 4vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-text {
    padding-left: 5vw;

}

.header-text h1 {
    font-size: 3vw;
    font-weight: 700;
    color: white;
}

.header-text p {
    font-size: 1vw;
    font-weight: 700;
    color: white;
    padding-bottom: 2vw;
}

.header-text a {
    text-decoration: none;
    background-color: red;
    padding: 0.87vw .8vw;
    color: white;
    font-weight: 700;
    font-size: .8vw;
    border-radius: 0.86vw;
}

.header-img {
    padding-left: 1vw;
    padding-top: 2vw;
    padding-right: 4vw;
}

.header-img img {
    width: 100%;

}

/* -------------------------------------
    CSS Styles for the Second Section 
   ------------------------------------*/

.second-section {
    display: grid;
    grid-template-columns: 17vw auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
}


.aside {
    width: 15vw;
    height: 15vw;
    background-color: black;
    border-radius: 0.87vw;
    padding-top: 5vw;
    padding-right: 1vw;
}

.upcoming-matches,
.el-classico {
    text-align: center;
    background-color: white;
    color: black;
    width: 12vw;
    padding: .5vw;
    border-radius: 0.87vw;
    margin-bottom: 1.5vw;
    margin-left: 1.5vw;
}

.ucl-button {
    text-decoration: none;
    color: black;
}

.ucl {
    text-align: center;
    padding: .5vw;
    background-color: rgb(213, 49, 49);
    color: black;
    width: 12vw;
    border-radius: 0.87vw;
    margin-bottom: 1.5vw;
    margin-left: 1.5vw;
}

/* --------------------
    Marca-News Styles 
-----------------------*/

.news {
    display: flex;
    flex-direction: column;
}

.news .player img {
    width: 100%;
    margin-bottom: 1vw;
}

.news {
    box-shadow: 0.694vw 0.694vw 0.694vw rgb(131, 125, 125);
    border: 0.347vw solid black;
    border-radius: 0.87vw;
    height: 25vw;
}

.news-text {
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.news-type {
    background-color: skyblue;
    border: 1px solid grey;
    font-size: small;
    width: 12vw;
    width: 50%;
    margin: auto;
    border-radius: 0.86vw;
    text-align: center;
}

.news-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2vw;
}

.fa-clock.clock {
    width: 1vw;
    height: 1vw;
    opacity: 0.75;
}

.fa-comment-dots {
    width: 1.5vw;
    height: 1.5vw;
    opacity: 0.75;
}

.marca-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.73vw;
    grid-row-gap: 1.73vw;
}

/* ------------------
    Footer Styles 
    -----------------*/
footer {
    background-color: black;
    color: white;
    height: 25vw;
}

footer h1 {
    text-align: center;
    font-size: 2vw;
    padding-top: 6vw;
}

footer hr {
    width: 80%;
}

.footer-contents {
    font-size: small;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    grid-column-gap: 5.208vw;
}

.footer-socials {
    padding-top: 2vw;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

}

.social-icons a {
    text-decoration: none;
    background-color: skyblue;
    padding-left: 1vw;
    padding-right: 1vw;
    color: black;
    font-weight: 700;
    font-size: 2vw;
    border-radius: 0.56vw;
}

/* -----------------------------------
    Media Query for mobile devices 
    --------------------------------*/
@media only screen and (max-width: 576px) {

    .top-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1.3fr 0.7fr;
    }

    .header-text h1 {
        font-size: 8vw;
        font-weight: 700;
        color: white;
        padding-right: 0.5vw;
    }

    .header-text p {
        font-size: 4vw;
        font-weight: 700;
        color: white;
        padding-bottom: 2vw;
    }

    .header-text a {
        text-decoration: none;
        background-color: red;
        padding: 2vw 2vw;
        color: white;
        font-weight: 700;
        font-size: 2vw;
        border-radius: 2vw;
    }

}