body {
    font-family: 'Poppins', sans-serif;
    margin-top: 4vw;
    width: 90%;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

/* ---------------------------------------------
CSS Styles for the Header Section: Large Screen
-------------------------------------------------*/

.top-container {
    background-color: black;
    border-radius: 2.6vw;
    margin: auto;
    padding-top: 2vw;
    padding-bottom: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-text {
    padding-left: 5vw;

}

.header-text h1 {
    font-size: 3vw;
    font-weight: 700;
    color: white;
}

.header-text p {
    font-size: 1vw;
    font-weight: 700;
    color: white;
    padding-bottom: 2vw;
    text-align: left;
}

.header-text a {
    text-decoration: none;
    background-color: red;
    padding: 0.87vw .8vw;
    color: white;
    font-weight: 700;
    font-size: .8vw;
    border-radius: 0.86vw;
}

.header-img {
    padding-left: 1vw;
    padding-top: 2vw;
    padding-right: 4vw;
}

.header-img img {
    width: 100%;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.2);
}


/* -----------------------------------------------------------
    Second Section Style of the Linked-Page: Large Screen 
    ----------------------------------------------------------*/

.second-section {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 20px;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.aside {
    width: 230px;
    height: 250px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}


.upcoming-matches,
.ucl {
    text-align: center;
    background-color: white;
    color: black;
    width: 180px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
}

.team-updates-button {
    text-decoration: none;
    color: black;
}

.el-classico {
    text-align: center;
    background-color: rgb(213, 49, 49);
    color: black;
    width: 180px;
    padding: 8px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 10px;
}


/* -----------------------------------
    UCL Matches Styles: Large Screen 
    -----------------------------------*/
.ucl-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.73vw;
    grid-column-gap: 1.73vw;
}

.recent-matches {
    box-shadow: 0.694vw 0.694vw 0.694vw rgb(131, 125, 125);
    border: 0.347vw solid black;
    border-radius: 0.87vw;
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.7fr 0.3fr;

}

.team-logo img {
    width: 100%;
}

.recent-matches h4,
p {
    text-align: center;
}

.rma-vs-team {
    display: grid;
    grid-template-columns: 1fr .2fr 1fr;
}

.vs {
    display: flex;
    align-items: center;
    padding-right: 1vw;
}

.team-logo {
    display: flex;
    align-items: stretch;
}


/* ------------------------------
    Footer Styles: Large Screen 
    ----------------------------*/
footer {
    background-color: black;
    color: white;
    height: 25vw;
}

footer h1 {
    text-align: center;
    font-size: 2vw;
    padding-top: 6vw;
}

footer hr {
    width: 80%;
}

.footer-contents {
    font-size: small;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    grid-column-gap: 5.208vw;
}

.footer-socials {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
    padding-top: 2vw;

}

.social-icons a {
    text-decoration: none;
    background-color: skyblue;
    padding-left: 1vw;
    padding-right: 1vw;
    color: black;
    font-weight: 700;
    font-size: 1.5vw;
    border-radius: 0.56vw;
}






/* -----------------------------------
    Media Query for mobile devices 
    --------------------------------*/
@media only screen and (max-width: 576px) {

    /* -------------------------------
    Header Section: Small Screen
    ------------------------------ */
    .top-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .header-text {
        padding-right: 5vw;
    }

    .header-text h1 {
        text-align: center;
        font-size: 7vw;
        font-weight: 700;
        color: white;
        padding-right: 0.5vw;
    }

    .header-text p {
        text-align: center;
        font-size: 3vw;
        font-weight: 700;
        color: white;
        padding-bottom: 2vw;
    }

    #btn-header {
        display: flex;
        width: 25%;
        margin: auto;
    }

    .header-text a {
        text-align: center;
        text-decoration: none;
        background-color: red;
        padding: 2vw 2vw;
        color: white;
        font-weight: 700;
        font-size: 2vw;
        border-radius: 2vw;
    }

    .header-img {
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    /*----------------------------------------------------------
     Responsiveness for Mobile Devices of the Second Section 
    -------------------------------------------------------------*/
    .second-section {
        margin-top: 10vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 300vw;
        grid-row-gap: 5vh;
        margin-bottom: 190vh;
    }

    .aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        background-color: white;
    }

    .upcoming-matches,
    .ucl {
        font-weight: 700;
        font-size: 4vw;
        text-align: center;
        background-color: white;
        color: black;
        width: 60vw;
        padding-top: 2.5vw;
        padding-bottom: 1.5vw;
        border: 0.347vw solid black;
    }

    .ucl-button {
        text-decoration: none;
        color: black;
    }

    .el-classico {
        text-align: center;
        background-color: rgb(213, 49, 49);
        color: black;
        width: 60vw;
        font-size: 4vw;
        font-weight: 700;
        padding-top: 2.5vw;
        padding-bottom: 1.5vw;
        border: 0.347vw solid black;
    }

    .ucl-matches {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 4vh;
    }

    .recent-matches {
        box-shadow: 0.694vw 0.694vw 0.694vw rgb(131, 125, 125);
        border: 0.347vw solid black;
        border-radius: 0.87vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 0.5fr;
        padding-right: 3vw;
        padding-top: 3vw;
    }

    .match-text {
        padding-bottom: 0.5vw;
        padding-left: 3vw;
        padding-right: 1vw;
        font-size: 3vw;
    }

    /* -----------------------------------------------------
    Responsiveness for Mobile Devices of the Footer Section 
    ----------------------------------------------------------*/
    footer {
        margin-top: 5vw;
        height: 90vh;
        background-color: rgb(38, 37, 37);
        padding-bottom: 3vw;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    footer h1 {
        text-align: center;
        font-size: 3.5vw;

    }

    .footer-contents {
        color: white;
        font-size: 3vw;
    }

    .footer-socials {
        display: flex;
        justify-content: space-around;
    }
}


/* -----------------------------------
    Media Query for tablet devices 
    --------------------------------*/
@media only screen and (min-width:576px) and (max-width:767px) {

    /* ---------------------
    Second Section
    ---------------------- */
    .second-section {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1.9fr;
        grid-row-gap: 5vh;
        margin-bottom: 1vw
    }

    .aside {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
        width: 90%;
        margin: auto;
        height: 2vh;
    }

    .upcoming-matches,
    .ucl {
        margin-top: 1vh;
        font-weight: 700;
        font-size: 2vw;
        text-align: center;
        background-color: white;
        color: black;
        width: 22vw;
        border: 0.347vw solid black;
        padding-bottom: 0.8vw;
        height: 6vw;
    }

    .ucl-button {
        text-decoration: none;
        color: black;
    }

    .el-classico {
        text-align: center;
        font-weight: 700;
        background-color: rgb(213, 49, 49);
        color: black;
        width: 22vw;
        font-size: 2vw;
        border: 0.347vw solid black;
        padding-bottom: 0.8vw;
        height: 6vw;
    }

    .ucl-matches {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 5vw;
    }

    .recent-matches {
        box-shadow: 0.694vw 0.694vw 0.694vw rgb(131, 125, 125);
        border: 0.347vw solid black;
        border-radius: 0.87vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 0.5fr;
        padding-right: 3vw;
        padding-top: 3vw;
        padding-bottom: 2vh;
    }

    /* -------------------------------------
    Footer Section for the tablet Devices
    -------------------------------------- */
    footer {
        height: 45vh;
    }

    .footer-info {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .footer-socials {
        padding-left: 25vw;
        padding-right: 25vw;
    }
}